/* Fields */
.content .field--name-field-ercore-cr-name { font-weight: bold; }
.content .field--name-realname { font-weight: bold; }
.content .field--name-field-ercore-ev-date time, .content .field--name-field-ercore-pb-date, .content .field--name-field-ercore-hn-date, .content .field--name-field-ercore-op-date, .content .field--name-field-ercore-hi-date { font-size: 1.1em; font-weight: bold; }
.content .field--name-field-ercore-user-partic-inst, .content .content .field--name-field-ercore-user-department { display: inline-block; }

.path-user .field--name-field-ercore-user-partic-inst, .path-user .field--name-field-ercore-user-department { display: block; }

.field--label-inline { overflow: auto; }
.field--label-inline div.components { display: inline-block; }
.field--label-inline label { font-weight: bold; }
.field--label-inline label:after { content: ": "; }
.field--label-inline ul { padding-left: 0; margin-bottom: 0; display: inline; list-style: none; }
.field--label-inline ul li { display: inline; padding: 0; }

.field--label-inline div.field__items .field__item { content: ",\0020"; }
.field--label-inline div.field__items .field__item:after { content: ""; }
.field--label-inline div.field__items .field__item:nth-last-child(2):after { content: "\0020 and \0020"; }

.field--name-field-ercore-cn-collaborator, .field--name-field-ercore-organizer { margin: 5px 0; }

.content .field--name-field-ercore-hi-image { float: right; margin: 0 0 1rem 1rem; }

.ercore-download { font-weight: bold; font-style: italic; margin-top: 1rem; }

.ercore-create { border-top: 1px dashed #CCC; font-style: italic; margin-top: 1rem; padding-top: 1rem; }

.ercore-help { font-weight: bold; font-style: italic; font-size: 1.1em; }

.ercore-summary .view-filters label { display: block; }
.ercore-summary .view-filters .hasDatepicker { width: 150px; }
.ercore-summary .view-filters .form-item { padding-right: 10px; }
.ercore-summary .view-filters .form-actions button { margin-top: 1.7rem; }
.ercore-summary .ercore-summary-row { border-bottom: 1px solid #eee; padding-bottom: 1em; }
.ercore-summary .ercore-summary-row .missing-field { font-weight: bold; color: #69171c; }
.ercore-summary .ercore-summary-row .ercore-organizers label { margin-bottom: 0; }
.ercore-summary .ercore-summary-row li { list-style: none; }

.field--name-field-ercore-organizer .field--name-realname, .field--name-field-ercore-organizer .field--name-field-ercore-user-partic-inst, .field--name-field-ercore-organizer .field--name-field-ercore-user-department { display: inline; margin: 0; padding: 0; }
.field--name-field-ercore-organizer .field--name-field-ercore-user-department { font-style: italic; }
.field--name-field-ercore-organizer .field--name-field-ercore-user-department:before { content: ' - '; }
.field--name-field-ercore-organizer .field--name-realname a { font-weight: bold; }
.field--name-field-ercore-organizer .field--name-realname span:after { content: ", "; }
.field--name-field-ercore-organizer .field--name-realname a, .field--name-field-ercore-organizer .field--name-realname span { margin: 0; padding: 0; }

.field--name-field-ercore-organizer .field--items, .field--name-field-ercore-op-non-epscor .field--items, .field--name-field-ercore-pb-nonepscor-aut .field--items, .field--name-field-ercore-cn-collaborator .field--items, .field--name-field-ercore-ps-others .field--items, .field--name-field-ercore-pp-other-pi .field--items { padding-left: 1.5em; }

.paragraph--type--ercore-location { overflow: auto; }
.paragraph--type--ercore-location .field--name-field-ercore-loc-city, .paragraph--type--ercore-location .field--name-field-ercore-loc-state, .paragraph--type--ercore-location .field--name-field-ercore-loc-postal { display: inline; }

.field--name-body { margin: 1em 0; }

.field--name-field-ercore-ev-location { margin-bottom: 1.5em; }

.field--name-field-ercore-cmp-core { margin-top: .5em; font-style: normal; font-weight: bold; }

.view-taxonomy-term .views-row { border-bottom: 1px solid #eee; padding-bottom: 1em; }

.view-ercore-components .term-description:before { content: ' - '; }

.indent30{
    margin-left: 30px;
}
.indent60{
    margin-left: 60px;
}




#edit-field-previous-federal-repo-none{
    display:none
}

label[for="edit-field-previous-federal-repo-none"]
{
    display:none !important;
}



/*# sourceMappingURL=ercore.css.map */
.atagcircle{
    font-weight: bold;
    background: #3379b7;
    border-style: solid;
    border-radius: 50%;
    border-color: #3379b7;
    display: inline-block;
    width: 32px;color: white !important;;
    }

    .tooltip-style {
        margin-left: 4px;
        font-weight: bold;
        background: #3379b7;
        border-style: solid;
        border-radius: 56%;
        border-color: #3379b7;
        display: inline-block;
        width: 19px;
        text-align: center;
        font-size: 8pt;

        color: white !important;
    }


    .tooltip {
        position: relative;
        display: inline-block;
        /* border-bottom: 1px dotted black; */
        /* margin-left: 100px; */
        cursor:help;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 420px;
        background-color: white;
        color: black;
        text-align: left;
        border-radius: 6px;
        border-style:solid;
        padding: 5px 0;
        padding: 10px !important;
        
      
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
      }
      
      .tooltip:hover .tooltiptext2 {
        visibility: visible;
        cursor:pointer;
        
      }
    