.ercore-profile-view table td, .ercore-profile-view table th { text-align: left; }

.block-views-blockercore-user-content-block-1 .view-footer { margin: 25px 0; border-top: 2px solid #333; }
.block-views-blockercore-user-content-block-1 .view-footer .content-link { margin: 15px 0; }
.block-views-blockercore-user-content-block-1 .view-footer .content-link a { font-weight: bold; font-style: italic; }

.layout--twocol .layout__region { padding-right: 20px; }

.path-user .views-element-container { margin-bottom: 36px; }

/*# sourceMappingURL=ercore-profile.css.map */
