/* Fields */
.content {
  .field--name-field-ercore-cr-name {
    font-weight: bold;
  }

  .field--name-realname {
    font-weight: bold;
  }

  .field--name-field-ercore-ev-date time,
  .field--name-field-ercore-pb-date,
  .field--name-field-ercore-hn-date,
  .field--name-field-ercore-op-date,
  .field--name-field-ercore-hi-date {
    font-size: 1.1em;
    font-weight: bold;
  }

  .field--name-field-ercore-user-partic-inst, .content .field--name-field-ercore-user-department {
    display: inline-block;
  }
}

.path-user {
  .field--name-field-ercore-user-partic-inst,
  .field--name-field-ercore-user-department {
    display: block;
  }
}

.field--label-inline {
  overflow: auto;
  div.components {
    display: inline-block;
  }
  label {
    font-weight: bold;
    &:after {
      content: ': '
    }
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    display: inline;
    list-style: none;
    li {
      display: inline;
      padding: 0;
    }
  }
}

.field--label-inline div.field__items .field__item {
  content: ",\0020";
  &:after {
    content: "";
  }
  &:nth-last-child(2):after {
    content: "\0020 and \0020";
  }
}

.field--name-field-ercore-cn-collaborator,
.field--name-field-ercore-organizer {
  margin: 5px 0;
}

.content .field--name-field-ercore-hi-image {
  float: right;
  margin: 0 0 1rem 1rem;
}

.ercore-download {
  font-weight: bold;
  font-style: italic;
  margin-top: 1rem;
}

.ercore-create {
  border-top: 1px dashed #CCC;
  font-style: italic;
  margin-top: 1rem;
  padding-top: 1rem;

}

.ercore-help {
  font-weight: bold;
  font-style: italic;
  font-size: 1.1em;
}

.ercore-summary {

  .view-filters {
    label {
      display: block;
    }
    .hasDatepicker {
      width: 150px;
    }
    .form-item {
      padding-right: 10px;
    }
    .form-actions button {
      margin-top: 1.7rem;
    }
  }

  .ercore-summary-row {
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;

    .missing-field {
      font-weight: bold;
      color: #69171c;
    }

    .ercore-organizers label {
      margin-bottom: 0;
    }

    li {
      list-style: none;
    }
  }
}

.field--name-field-ercore-organizer {
  .field--name-realname,
  .field--name-field-ercore-user-partic-inst,
  .field--name-field-ercore-user-department {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .field--name-field-ercore-user-department {
    font-style: italic;

    &:before {
      content: ' - ';
    }
  }

  .field--name-realname {
    a {
      font-weight: bold;
    }

    span:after {
      content: ', '
    }

    a, span {
      margin: 0;
      padding: 0;
    }
  }
}

.field--name-field-ercore-organizer,
.field--name-field-ercore-op-non-epscor,
.field--name-field-ercore-pb-nonepscor-aut,
.field--name-field-ercore-cn-collaborator,
.field--name-field-ercore-ps-others,
.field--name-field-ercore-pp-other-pi {
  .field--items {
    padding-left: 1.5em;
  }
}

.paragraph--type--ercore-location {
  overflow: auto;

  .field--name-field-ercore-loc-city,
  .field--name-field-ercore-loc-state,
  .field--name-field-ercore-loc-postal {
    display: inline;
  }
}

.field--name-body {
  margin: 1em 0;
}

.field--name-field-ercore-ev-location {
  margin-bottom: 1.5em;
}

.field--name-field-ercore-cmp-core {
  margin-top: .5em;
  font-style: normal;
  font-weight: bold;
}

.view-taxonomy-term .views-row {
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;
}

.view-ercore-components .term-description {
  &:before {
    content: ' - ';
  }
}