.ercore-profile-view table {
  td, th {
    text-align: left;
  }
}

.block-views-blockercore-user-content-block-1 {
  .view-footer {
    margin: 25px 0;
    border-top: 2px solid #333;

    .content-link {
      margin: 15px 0;

      a {
        font-weight: bold;
        font-style: italic;
      }
    }
  }
}

.layout--twocol {
  .layout__region {
    padding-right: 20px;
  }
}

.path-user .views-element-container {
  margin-bottom: 36px;
}
